{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to My Project!</h2>
    <p>This is the home page of My Project. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique elit sit amet felis aliquet, vitae volutpat mi aliquet. Curabitur blandit euismod metus, id facilisis metus luctus in. Integer non convallis lorem. Ut in aliquam mauris. Nullam vulputate feugiat elit. Suspendisse id efficitur elit. Fusce lobortis tristique augue, eu eleifend lectus pharetra eu.</p>
    <p>Etiam et luctus nisl. Nulla vitae tristique lorem. Mauris volutpat justo sit amet iaculis pharetra. Integer vestibulum felis a eleifend condimentum. Fusce varius, sapien vel pulvinar ullamcorper, erat ligula laoreet ex, sit amet pharetra urna dolor ac nunc. Integer aliquam luctus magna, id eleifend mi feugiat ut. Vivamus non dui eget nisl placerat iaculis at eu tortor. Morbi pretium odio nisl, nec cursus orci ultrices ut. Phasellus pellentesque purus id libero dignissim dignissim. Nam bibendum fringilla ligula id aliquet. Nam non arcu non purus gravida blandit. Mauris ultricies finibus quam, nec tristique ipsum mattis non. Proin vitae felis placerat, semper lorem et, tincidunt turpis. Nam eget tincidunt dui. Nunc ut tristique velit.</p>
{% endblock %}
